body {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
.screen {
	display: inline-block;
	background-color: #ecf0f1;
	border-width: 5px;
	border-color: rgba(44, 62, 80,1.0);
}

.gamecell {
	border: none;
	border-collapse: collapse;
	padding: 0px;
	margin:0px;
	display: block;
}

.losescreen {
	display: inline-block;
	background-color: #ecf0f1;
	border-radius: 5px;
	position: absolute;
	width: 300px;
	margin-left: -300px;
	margin-top: 100px;
	padding-bottom: 5px;
	z-index: 99999;

}

.cover {
	display: none;
	background-color: rgba(127, 140, 141, 0.9);
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 500;
}
